
.employer-wrapper .container {
    width: 100%;
    padding: 60px;
    margin-top: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
    @media only screen and (max-width: 600px) {
        padding: 30px 15px;
        margin-bottom: 30px;
        margin-top: 0;
    }
}

.employer-wrapper h1 {
    color: #333;
    margin-bottom: 40px;
    width: 100%;
}

.employer-wrapper .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.employer-wrapper label {
    display: block;
    margin-bottom: 5px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.employer-wrapper form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.employer-wrapper .form-group{
    width: 47%;
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
}
.employer-wrapper input[type="text"],
.employer-wrapper input[type="email"],
.employer-wrapper input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.employer-wrapper input[type="text"]:focus,
.employer-wrapper input[type="email"]:focus,
.employer-wrapper input[type="number"]:focus {
    border-color: #0056b3;
    outline: none;
}

.employer-wrapper button {
    width: 40%;
    padding: 15px;
    margin: 30px auto 0;
    background: #E88D15 0% 0% no-repeat padding-box;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 18px;
    transition: background-color 0.3s;
    @media only screen and (max-width: 600px) {
        width: 100%;
    }

}

.employer-wrapper button:hover {
    background: #fff;
    color: #2333B4;
    border: 1px solid #2333B4;
}

.employer-wrapper button:focus {
    outline: none;
}