
.employer-wrapper{
    margin-top: 60px;
    @media (max-width: 768px) {
        margin-top: 0;
    }
}
.employer-wrapper .container {
    width: 100%;
    padding: 0px;
    margin-top: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
    @media only screen and (max-width: 600px) {
        padding: 30px 15px;
        margin-bottom: 30px;
        margin-top: 0;
    }
}

.employer-wrapper h1 {
    color: #fff;
    margin-bottom: 20px;
    width: 100%;
}

.employer-wrapper .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.employer-wrapper label {
    display: block;
    margin-bottom: 5px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}
.employer-wrapper form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.employer-wrapper .form-group{
    width: 100%;
    margin-bottom: 30px;
    
}
.employer-wrapper input[type="text"],
.employer-wrapper input[type="email"],
.employer-wrapper input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 3px solid #c2c77b;
    border-radius: 5px;
    font-size: 18px;
    transition: border-color 0.3s;
    height: 45px;
}

.employer-wrapper input[type="text"]:focus,
.employer-wrapper input[type="email"]:focus,
.employer-wrapper input[type="number"]:focus {
    border-color: #0056b3;
    outline: none;
}

.employer-wrapper button {
    width: 40%;
    padding: 15px;
    margin: 30px auto 0;
    background: #1cbf72 0% 0% no-repeat padding-box;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 18px;
    transition: background-color 0.3s;
    @media only screen and (max-width: 600px) {
        width: 100%;
    }

}

.employer-wrapper button:hover {
    background: #fff;
    color: #1cbf72;
    border: 1px solid #1cbf72;
}

.employer-wrapper button:focus {
    outline: none;
}
.form-wrapper-emp{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    p{
        color: #fff;
        font-size: 16px;
        line-height: 1.4;

    }
    .form-info{
        padding: 30px 40px 50px;
        background-color: #1cbf72;
        width: 40%;
        @media only screen and (max-width: 600px) {
            width: 100%;
            padding: 0px 0 30px;
            
        }
        
    }
    
    .main-form{
        width: 60%;
        padding: 50px 80px;
        @media only screen and (max-width: 600px) {
            width: 100%;
            padding: 10px 0;
        }
}
}
.job-seeker{
    width: 100%;
}
