.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 600px) {
        padding: 0 15px;
    }
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #020D61;

    .container{
        margin-block: 30px;
    }
    
}
.header-link-wrapper{
    display: flex;
    align-items: center;
    list-style: none;
    .header-links{
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
        a{
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
        }
        a:hover{
            color: #fff;
            text-decoration: underline;
        }
    }
}
@media (max-width: 768px) {
      .header-link-wrapper {
        display: none; /* Hide navigation links by default */
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #fff;
        width: 100%;
        padding: 10px 0;
        z-index: 100;
      }

      .header-links {
        margin-left: 0;
        text-align: center;
        padding: 10px;
        margin: 0  !important;
        border-bottom: 2px solid #E88D15;
        width: 100%;
        color: #000;

      }
      .header-links a{
        color: #000 !important;
        width: 100%;
        display: block;

      }

      /* Show the hamburger menu on smaller screens */
      .hamburger-menu {
        display: flex;
        flex-direction: column;
      }
      .hamburger-menu .bar{
        width: 30px;
        height: 3px;
        margin-bottom: 4px;
        background: #E88D15;
      }

      /* Show the nav links when the hamburger is clicked */
      .header-link-wrapper.show {
        display: flex;
      }
    }
    .logo{
        width: 104px;
        height: 83px;
        display: inline-block;
        
    }
   .logo img{
        width: 100%;
        height: 100%;
        display: inline-block;
    }