
.footer{
  background: #F5F5F5;
  padding: 60px 0;
}
.footer .container{
  align-items: baseline;
  @media only screen and (max-width: 600px) {
    flex-wrap: wrap;
  }
}
.common-footer{
  width: 18%;
  @media only screen and (max-width: 600px) {
    width: 47% !important;
    margin-bottom: 30px;
  }
}
.common-footer li{
  margin-bottom: 10px;
}
.footer-parts .copy-wrapper span{
  margin-bottom: 0;
}
.footer-parts  .second-footer{
  width: 13%;
}
.footer-parts  .fifth-footer{
  width: 9%;
}
.common-footer p,
.common-footer li a,
.common-footer h5{
color: #009688;
}
.common-footer li a{
font-size: 16px;
transition: all 0.3s ease-in-out;
margin-bottom: 15px;
font-weight: 600;
@media only screen and (max-width: 600px) {
  font-size: 14px;
}

&:hover{
  text-decoration: underline;
}
}
.common-footer h5{
font-size: 20px;
margin-bottom: 16px;
font-weight: 700;
color: #000;
}
.footer-parts .first-footer{
width: 25%;
@media only screen and (max-width: 600px) {
    width: 100% !important;
}
}
.footer-parts .first-footer p,
.footer-parts .copy-wrapper span{
font-size: 12px;
color: #FF9800;
margin-bottom: 62px;
}